<app-main-header></app-main-header>
<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="buttonClass" *ngIf="!showNewitem">
        <input style="float: right;" class="btn btn-primary" type="button" name="Add" value="Add" (click)="addNewCategory()">
      </div>
      <br style="padding-bottom: 20px;">
      <table class="table table-striped" *ngIf="!showNewitem">
        <thead>
          <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Name</th>
            <th scope="col">No Of Products</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{category.categoryId}}</td>
            <td>{{category.categoryName}}</td>
            <td>{{category.products.length}}</td>
          </tr>
        </tbody>
      </table>


      <form *ngIf="showNewitem">
   <div class="form-group">
      <label for="exampleInputEmail1">Category Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please Enter Category Name">
      <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
   </div>
   <button type="submit" class="btn btn-default" (click)="hideCreate()">Cancel</button>
   <button type="submit" class="btn btn-primary submitBtn">Submit</button>
</form>
    </div>
  </div>
</div>
