<app-main-header></app-main-header>
<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="buttonClass" *ngIf="showCategories">
        <input style="float: right;" class="btn btn-primary" type="button" name="Add" value="Add" (click)="addNewCategory()">
      </div>
      <br style="padding-bottom: 20px;">
      <table class="table table-striped" *ngIf="showCategories">
        <thead>
          <tr>
            <th scope="col">Category Id</th>
            <th scope="col">Name</th>
            <th scope="col">No Of Products</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{category.categoryId}}</td>
            <td>{{category.categoryName}}</td>
            <td>{{category.products.length}}</td>
            <td><input type="button" class="btn btn-primary" value="Update" (click)="showUpdateCategory(category)"></td>
            <td><input type="button" class="btn btn-danger" value="Delete" (click)="remoeveCategory(category)"></td>
          </tr>
        </tbody>
      </table>


      <div *ngIf="showNewitem">
   <div class="form-group">
      <label for="exampleInputEmail1">Category Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="category"
      aria-describedby="emailHelp" placeholder="Please Enter Category Name" [(ngModel)]="categoryName">
      
      <div class="custom-file mb-3" style="margin-top: 30px;">
        <input type="file" class="custom-file-input" accept="image/*" id="customFile" 
         (change)="handleFileSelect($event)">
        <label class="custom-file-label" for="customFile">{{fileName}}</label>
      </div>
      
   </div>
   <button type="submit" class="btn btn-default" (click)="hideCreate()">Cancel</button>
   <button type="submit" class="btn btn-primary submitBtn" (click)="saveCategory()">Submit</button>
  </div>

<div *ngIf="showUpdateItem">
  <div class="form-group">
     <label for="exampleInputEmail1">Update Category Name</label>
     <input type="email" class="form-control" id="exampleInputEmail1" name="category"
     aria-describedby="emailHelp" placeholder="Please Enter Category Name" [(ngModel)]="updateCategoryName">
     
  </div>
  <button type="submit" class="btn btn-default" (click)="hideCreate()">Cancel</button>
  <button type="submit" class="btn btn-primary submitBtn" (click)="updateCategory()">Submit</button>
</div>
    </div>
  </div>
</div>
