
.spacer {
    flex: 1 1 auto;
}
.searchBar {
    width: 360px;
    position: absolute;
    right: 100px;
}
.searchBox {
    font-size: 14px;
}
.searchBox input {
    width: 320px;
    border: none;
    padding: 0 24px 0 34px;
}
.searchBox .fa-caret-down {
    right: 0;
    font-size: 16px;
}
.rightNav {
    border-left: 1px solid grey;
    height: 100%;
}

table {
    width: 100%;
    box-shadow: none;
  }
  .mat-cell {
      border-bottom: none;
  }

@media (max-width:580px) {
    .searchBar {
        position: static;
        width: 100%;
    }
}

@media (max-width:450px) {
    .searchBar input {
        width: 100%;
    }
}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

.table tr.active td {
    background-color:#123456 !important;
    color: white;
}

.buttonClass {
  padding-top: 20px;
  padding-bottom: 20px;
}

.submitBtn {
  margin-left: 30px;
}

.updateBtn {
    background-color: #2874f0;
    color: #fff;
}
